# Force pip to use the CPU-only versions of PyTorch to save gigabytes of space
--extra-index-url https://download.pytorch.org/whl/cpu

anthropic
asyncio
PyJWT
bcrypt
chromadb
ddgs
duckduckgo-search
fastapi
httpx
joblib
langchain
langchain>=0.2.0
langchain-anthropic
langchain-chroma
langchain-classic
langchain-community
langchain-core>=0.2.0
langchain-google-genai
langchain-huggingface
langchain-openai
langgraph
langgraph-checkpoint-sqlite
langserve[all]
mangum
numpy
opencv-python
pandas
pillow
pydantic
pypdf
python-dotenv
python-multipart
requests
rich
sentence-transformers==2.7.0
spacy
sse-starlette
streamlit
torch
transformers
uvicorn
wikipedia
huggingface_hub
ipykernel
optuna
tool
python-multipart
pdfplumber
langchain-aws 
boto3
Optional
rank_bm25 